<img src="../../assets/img/index_icon.png" class="img-fluid mx-auto d-block"/>
<form>
    <div class="mb-3 row">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input required type="email"  class="form-control" id="staticEmail">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input required type="password" class="form-control" id="password">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>