<img src="../../assets/img/index_icon.png" class="img-fluid mx-auto d-block"/>
<form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div class="mb-3 row form-group">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input required type="email" [(ngModel)]="form.email" #email="ngModel" class="form-control" id="email">
        </div>
    </div>
    <div class="mb-3 row form-group">
        <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input required type="password" [(ngModel)]="form.password" #password="ngModel" class="form-control" id="password">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Se connecter</button>
</form>
<div class="alert alert-success" *ngIf="isLoggedIn">
    Vous êtes deja authentifié.
</div>