<h4>Informations profil</h4>
<div>

</div>

<div>
    <div>
        <h4>Changer d'adresse mail</h4>
        <form>
            <div class="mb-3 row">
                <label for="email" class="col-sm-2 form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email"  class="form-control" id="email">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="emailValid" class="col-sm-2 form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email"  class="form-control" id="emailValid">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
    
    <div>
        <h4>Changer de mot de passe</h4>
        <form>
            <div class="mb-3 row">
                <label for="password" class="col-sm-2 col-form-label">Nouveau mot de passe :</label>
                <div class="col-sm-10">
                    <input type="password"  class="form-control" id="password">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="passwordValid" class="col-sm-2 col-form-label">Retapez le nouveau mot de passe :</label>
                <div class="col-sm-10">
                    <input type="password"  class="form-control" id="passwordValid">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
