<div>
  <nav id="header" class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <a href="#" class="navbar-brand">
        <img src="../assets/img/WMF_safe.png" class="d-inline-block align-text-top"/>
        ACF Audit
      </a>
      <div class="navbar-nav me-auto">
        <a routerLink="/document-management" class="nav-link">Documents</a>
        <a routerLink="/messaging" class="nav-link">Messages</a>
      </div>
      <a routerLink="/connection-form" class="nav-link">Connexion</a>
    
      
    </div>
  </nav>

  <div id="content" class="container mt-3">
    <router-outlet></router-outlet>
  </div>

  <nav id="footer" class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <div class="navbar-nav">
        <a routerLink="/legal-mentions" class="nav-link">Mentions légales</a>
        <a routerLink="/data-policy" class="nav-link">Politique de données</a>
        <a routerLink="/accessbility" class="nav-link">Politique d'accessibilité</a>
        <a routerLink="/contact-form" class="nav-link">Formulaire de contact</a>
      </div>
    </div>
  </nav>
</div>
