img {
    height: 30px;
    width: 30px;
}

#header {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    z-index: 2;

}
#footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width:100%;
}
#content {
    margin-bottom: 75px;
}