<img src="../../assets/img/index_icon.png" class="img-fluid mx-auto d-block"/>
<h2 class="text-center">ACF Audit</h2>
<p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
<p class="lead text-center">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<div class=text-center>
    <button type="button" class="btn btn-primary" routerLink="/connection-form">Se connecter</button>
</div>