<div class="container" appDnd (fileDropped)="onFileDropped($event)">
	<input type="file" accept=".doc,.docx,.pdf,.odt" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event)" />
	<h3>Glissez vos fichiers ici</h3>
	<h3>ou</h3>
	<label for="fileDropRef">Cliquez pour naviguer</label>
</div>

<div class="upload-list">
	<div class="single-file" *ngFor="let file of uploadFiles; let i = index">
		<img src="../../assets/img/ic-file.svg" width="45px" alt="file">
		<div class="info">
		<h4 class="name">
			{{ file?.name }}
		</h4>
		</div>
		<!--<img src="assets/img/dnd/ic-delete-file.svg" class="delete" width="20px" alt="file" (click)="deleteFile(i)">-->
	</div>
</div>
